body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    margin: 0;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}


.Information-research {
    background-color: white;
    margin: 20px auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: center;
}

h2 {
    color: #007bff;
}

img {
    width: 800px;
    height: auto;
    max-width: 100%;
    margin: 10px auto;
    display: block;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.linewise{
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.6;
    justify-content: space-between;
    background-color: #f9f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
      }
      


a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}